body{
    font-weight: bolder;
    font-family: system-ui;

}
h1{
    color:yellow;
     background-color:black
}

h2{
    color:antiq;
     background-color:black
}

h6{
    color:red;
}

h7{
    color: #F58017;
}